ï»¿body{
	margin:0;
	padding:0;
	font-size:14px;
	font-family:å¾®è½¯éé»;
	color:#333;
	}
a{
	color:#666;
	text-decoration:none;
}	
ul,li{
	margin:0;
	padding:0;
	list-style:none;
}

/*zhuanyeus end*/
@media (min-width:500px) and (max-width:3000px){
	.head{
		width:100%;
		height:80px;
		background-color:#fff;
	}
	.main_top{
		width: 100%;
		background-color:#333;
		height: 30px;
		line-height: 30px;
		float: left;
		float: left;
	}
	.main_top_head{
		max-width:1000px;
		width: 100%;
		margin-left:auto;
		margin-right:auto;
	}
	.main_top_head li{
		width: auto;
		height: 30px;
		line-height: 30px;
		float: left;
		color: #B3B3B3;
		font-size: 12px;
	}
	.main_top_head li.right{
		float: right;
		margin-left: 10px;
	}
	.main_top_head li i{
		width: auto;
		height: 20px;
		width: 20px;
		margin-top: 5px;
		margin-right: 5px;
		font-size: 18px;
	}
	.main_top_head li a{
		color: #B3B3B3;
	}

	.headon{
		color:#F33;
	}
	.headwai{
		height: 70px;
		width:100%;
		overflow: hidden;
		float: left;
	}	
	.head_in{
		width:100%;
		max-width:1000px;
		margin-left:auto;
		margin-right:auto;
		height:70px;
		line-height:70px;
		color:#999;
	}
	.head_in li{
		height:70px;
		width:65px;
		float:right;
		font-size:16px;
		text-align:center;
		overflow: hidden;
		margin: 0 0 0 26px;
	}
	.head_in li:hover{
		color:#379ef6;
	}
	.head_in li.active{
		height: 66px; 
		width: auto;
		border-bottom: 4px solid #379ef6;
		color:#379ef6;
		float: right;
	}				
	.head_in img{
		width:auto;
		height:40px;
		margin-top:15px;
		margin-bottom:15px;
		float: left;
	}
	.head_in span{
		width:100%;
		height:15px;
		line-height:15px;
		margin-top:15px;
		float:left;
		font-size:16px;
	}
	.head_in i{
		width: 15px;
		height: 15px;
		/*background-image: url(../images/phone.png);*/
		background-size: 15px 15px;
		background-position: 0px 0px;
		margin-right: 15px;
		float: left;
	}
	.hedtitle{
		font-size:16px;
		display:none;
	}
	#daohang{
		display: none;
	}
	#daohang li{
		display: none;
	}	
	/* LS Banner Begin*/
	.container{
		width: 100%;
		height: 350px;
		float: left;
		margin-bottom: 0px;
	}
	.container li{
		width: 100%;
		height: 350px;
		float: left;
	}
	.container img{
		width: 100%;
		height: 350px;
		float: left;
	}
	.container li.disimg{
		display: none;
	}
	.navigation{
		position:relative;
		top:-50px;
		height: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		display:inline-block;
		width: 100%;
		float: left;
		text-align: center;
	}
	.navigation ul{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #FF6666;
		width:60px;
	}
	.navigation li{
		width:10px;
		height:10px;
		line-height:10px;
		text-align:center;
		color: #E6E6E6;
		background-color: #FFFFFF;
		border-radius: 50%;
		float: left;
		margin-right: 10px;
	}
	.navigation li.active{
		background:#0080FF;
	}
	/* LS Banner End */
	.zhuanye{
		height:520px;
		width:100%;
		background-color:#E9E9E9;
		background-size:100%;
		background-repeat:no-repeat;
		float:left;
		margin-top: -50px;
	}	
	.zhuanye_in{
		width:100%;
		max-width:1000px;
		margin-left:auto;
		margin-right:auto;
		height:520px;
		color:#FFF;
		line-height:30px;
		box-sizing:border-box;
		font-size:16px;
	}
	.brand a{
		float:left;
		width:33.33%;
		box-sizing:border-box;
		padding-left:30px;
		height:350px;
		text-align: center;
		position: relative;
	}
	.brand img{
		width:100%;
		height:350px;
	}
	.brand .info{
		display:none;
		background-color: #f0f0f0;
		color: #369242;
		line-height:350px;
		background-size:100% 350px;
	}
	.vertical .info{
		width:100%;
		height: 350px;
		margin: 0 auto;
	}
	.zhuanye_two{
		width:100%;
		margin-top:30px;
		text-align:center;
		height:30px;
		margin-bottom:40px;
		font-size:24px;
	}
	.zhuanye_in ul{
		margin-left:-30px;
		display:none;
	}		
	.zhuanye_in li{
		width:33.33%;
		box-sizing:border-box;
		padding-left:30px;
		float:left;
		margin-bottom:25px;
	}	
	.zhuanye_in img{
		width:100%;
	}
	/*tuandui begin*/
	.tuandui{
		/*height:550px;*/
		width:100%;
		background-image:url(/images/youshie.png);
		background-size:100% 550px;
		background-repeat:no-repeat;
		float:left;
	}
	.tuandui_in{
		width:100%;
		max-width:1000px;
		margin-left:auto;
		margin-right:auto;
		height:400px;
		color:#FFF;
		line-height:30px;
		box-sizing:border-box;
		font-size:16px;
	}
	.tuandui_in ul{
		margin-left:-30px;
	}		
	.tuandui_in li{
		width:33.33%;
		box-sizing:border-box;
		padding-left:30px;
		float:left;
		margin-bottom:25px;
	}
	.tuandui_in img{
		width:100%;
		height:100%;
	}		
	.tuandui_two{
		width:100%;
		margin-top:30px;
		text-align:center;
		height:30px;
		margin-bottom:40px;
		font-size:24px;
	}	
	/*tuandui end*/
	/*hezuo begin*/
	.hezhuo{
		width:100%;
		height:380px;
		background-color:#CCC;
		float:left;
		}
	.hezhuo_in{
		width:100%;
		max-width:1000px;
		margin-left:auto;
		margin-right:auto;
		height:300px;
		background-color:#CCC;
		}
	.hezhuo_two{
		width:100%;
		margin-top:30px;
		text-align:center;
		height:30px;
		margin-bottom:40px;
		font-size:24px;
		}
	.hezhuo_in li{
		width:33.33%;
		box-sizing:border-box;
		padding-left:20px;
		padding-right:20px;
		float:left;
		height:90px;
		margin-bottom:30px;
		}	
	.hezhuo_in img{
		width:100%;
		height:90px;
		}	
	/*hezuo end*/
	.foot{
		width: 100%;
		height: 330px;
		background-color: #292929;
		float: left;
	}
	.foot_one{
		width:100%;
		height:280px;
		max-width:1000px;
		margin-left:auto;
		margin-right:auto;
	}
	.foot_two{
		width:100%;
		padding-bottom:20px;
		border-bottom:thin #666 solid;
		float:left;
		margin-bottom:30px;
	}	
	.foot_two ul{
		width:18%;
		float:left;
		border-right:thin solid #666;
		overflow: hidden;
	}	
	.foot_thr{
		width:100%;
		margin-top:30px;
		text-align:center;
		color:#CCC;
		line-height:25px;
		font-size:15px;
	}	
	.foot_four{
		text-align:center;
		font-size:13px;
		color:#CCC;
		line-height: 20px;
		font-weight: 100;
	}	
	.foot_four img{
		width:100px;
		height:100px;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
	}
	.foot_two li{
		width:100%;
		height:40px;
		line-height:20px;
		margin-left:40px;
		color:#CCC;
		font-size:13px;
		float:left;
		margin-bottom:10px;
		margin-top:10px;
		background-size:40px;
		background-repeat:no-repeat;
		padding-left:55px;			
	}
	.foot_five{
		width:20%;
		float:left;
		overflow: hidden;
		height: auto;
	}
	.foot_five ul{
		width:49%;
		float:left;
		height: auto;
		border:none;
		margin-top:-8px;
	}
	.foot_five li{
		width:100%;
		float:left;
		height: 30px;
		line-height:30px;
		color: #999;
		font-size: 15px;
		margin:0;
		padding: 12px 0 0 30px;
		text-align: left;
	}
	.foot_five li a{
		color: #CCC;
		font-size: 14px;
	}
	/*foot end*/
	.shangwu_top{
		width: 100%;
		background-image: url(..../images/coop.jpg);
		background-size: auto 200px;
		background-position:50% 0;
		height: 200px;
		float: left;
		}
	.shangwu_top h3{
		text-align: center;
		color: #fff;
		float: left;
		margin-top: 70px;
		width: 100%;
		font-size: 26px;
	}
	.shangwu_top font{
		width: 80%;
		color: #fff;
		float: left;
		margin-left: 10%;
		text-align: center;
		font-size: 18px;
	}
	.shangwu_mid{
		width: 100%;
		height: auto;
		float: left;
		margin: 30px auto;
		padding:10px 0;
	}
	.shangwu_midin{
		width: 80%;
		max-width: 1080px;
		height: auto;
		margin: 30px auto;
	}
	.shangwu_midin p{
		text-indent: 2em;
		line-height: 25px;
		font-size: 16px;
		margin-bottom: 20px;
		text-align: left;
		color: #666666;
	}
	.shangwu_midin{
		margin: 30px auto 0;
		width: 70%;
		max-width: 1000px;
		line-height: 40px;
		text-align: center;
		font-size: 18px;
	}

	/*åå¡åä½*/
	.shangwu{
		height:470px;
		width:100%;
		background-color:#E4E4E4;
		float:left;
	}
	.shangwu_in{
		width:100%;
		max-width: 1000px;
		margin-left:auto;
		margin-right:auto;
		height:380px;
		color:#FFF;
		line-height:30px;
		box-sizing:border-box;
		font-size:16px;
	}
	.shangwu_in header{
		width: 100%;
		margin-top: 30px;
		text-align: center;
		height: 30px;
		margin-bottom:40px;
		font-size: 24px;
		color:#333;
	}
	.shangwu_in ul{
		width:50%;
		float:left;
		margin-left:auto;
		overflow: hidden;
	}
	.shangwu_in ul.left{
		width:50%;
		float:left;
		margin-left:auto;
		overflow: hidden;
	}
	.shangwu_in ul.left li{
		width:100%;
		box-sizing:border-box;
		float:left;
		color:#333;
		line-height:25px;
		margin-bottom: 10px;
		overflow: hidden;
		color: #666666;
		font-size: 14px;
	}
	.shangwu_in ul.left li i{
		width: 45px;
		height: 45px;
		margin-right: 20px;
		text-align: center;
		float: left;
		line-height: 45px;
		text-align: center;
		font-size: 25px;
		background-color: #4a97ef;
		color: #FFFFFF;
		border-radius: 2px;
	}
	.shangwu_in ul.left li h5{
		width: 100%;
		float: left;
		margin: 0px;
		color: #333333;
		font-size: 15px;
	}
	.shangwu_in ul.left li span{
		width: 300px;
		float: left;
		height: 50px;
	}		
	.shangwu_in ul.right{
		width: 50%;
		box-sizing: border-box;
		padding: 10px 3% 20px 3%; 
		float: left;
		background-color: #FFFFFF;
		border-radius: 2px;
	}
	.shangwu_in ul.right h5{
		width: 100%;
		float: left;
		color: #333333;
		margin: 0px;
	}

	.shangwu_in input{
		height: 40px;
		line-height: 40px;
		font-size: 13px;
		width: 100%;
		box-sizing: border-box;
		margin: 10px 0px 10px 0px;
		padding-left: 3%;
		border-radius: 2px;
		outline: none;
		background-color: none;
		border:#cbcbcb thin solid;
	}
	.shangwu_in textarea{
		width: 100%;
		padding-left: 3%;
		padding-top: 5px;
		font-size: 13px;
		height: 66px;
		line-height: 20px;
		box-sizing: border-box;
		outline: none;
		margin-top: 10px;
		border:#cbcbcb thin solid;
		border-radius: 2px;
	}
	.shangwu_in button{
		height: 35px;
		line-height: 30px;
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 2px;
		font-size: 14px;
		background-color: #999;
		color: #FFFFFF;
		border:none;
		margin-top: 20px;
		font-weight: normal;
		outline: none;
	}
	/*å³äºæä»¬*/
	
	.about{
		height:200px;
		width:100%;
		background-image:url(/images/f.jpg);
		background-size: 100% 200px;
		background-repeat: no-repeat;
		background-position: 50% 0;
		float:left;
		color: #fff;
		}
	.about_in{
		width:100%;
		max-width:1080px;
		margin-left:auto;
		margin-right:auto;
		height:300px;
		color:#FFF;
		line-height:40px;
		box-sizing:border-box;
		text-align:left;
		padding-left:12%;
		font-size:24px;
		float: left;
	}

	.about_two{
		width:100%;
		margin-top:60px;
		text-align:center;
		height:30px;
		margin-bottom:40px;
		font-size:30px;
		color: #fff;
		line-height: 40px;
	}
	.about_two font{
		font-size: 24px;
	}
	.about_mid{
		height: auto;
		width: 100%;
		float: left;
		background-color: #e7e7e7;
		padding-bottom: 20px;
	}
	.aboutmid_in{
		max-width: 1080px;
		margin:40px auto 0;
		width: 70%;
		height: auto;
		background-color: #fff;
		padding: 20px 50px 50px;
		line-height: 40px;
		font-size: 16px;
		border-radius: 3px;
	}
	.about_bottom{
		height:317px;
		width:100%;
		background-image:url(/images/about_us.jpg);
		float:left;
	}

	/*å å¥æä»¬*/
	.join_banner{
		height: 200px;
		width: 100%;
		background-image: url(../images/rczp.jpg);
		background-size: auto 200px;
		background-position: 50% 0;
		background-repeat: no-repeat;
		overflow: hidden;
		margin:0 auto;
		}
	.join_banner font{
		display: none;
	}
	.join_top{
		height: auto;
		float: left;
		width: 100%;
		background-color: #e7e7e7;
		padding-bottom: 30px;
	}
	.join_waiwidth{
		width: 80%;
		max-width: 1080px;
		margin:0 auto;
	}
	.join_left{
		width: 20%;
		float: left;
		height: 300px;
		margin:30px 3% 0 0 ;
		background-color: #fff;
		border-radius: 2px;
	}
	.join_left header{
		text-align: center;
		height: 50px;
		line-height: 50px;
		float: left;
		width: 100%;
		border-bottom: thin solid #e7e7e7;
		font-size: 16px;
		color: #000000;
	}
	.join_left li{
		float: left;
		height: 40px;
		line-height: 40px;
		width: 100%;
		text-align: center;
		font-weight: lighter;
	}
	.join_left li.active{
		background-color: #62a4f0;
		color: #FFFFFF;
		float: left;
	}
	.join_width{
		width: 77%;
		float: left;
	}
	.jointop_in{
		width: 100%;
		margin: 30px 0 0;
		padding-bottom: 20px;
		background-color: #fff;
		float: left;
		border-radius: 2px;
		color: #7F7F7F;
		font-size: 13px;
		display: none;
	}
	.jointop_in.active{
		display: block;
	}
	.jointop_in header{
		height: 60px;
		line-height: 80px;
		margin-left: 3%;
		font-size: 30px;
		margin-top: 20px;
		border-bottom: thin solid #999;
		padding-left: 20px;
		padding-bottom: 10px;
	}
	.jointop_in h2{
		width: 100%;
		float: left;
		height: 35px;
		line-height: 35px;
		font-size: 18px;
		color: #333333;
		margin: 20px 0 0 0px;
	}
	.jointop_in h3{
		width: 100%;
		float: left;
		height: 30px;
		line-height: 30px;
		font-size: 15px;
		color: #4C4C4C;
		margin: 0px;
	}
	.jointop_in button{
		height: 40px;
		line-height: 40px;
		margin-top: 15px;
		font-size: 18px;
		border-radius: 5px;
		border:none;
		background-color: #a1ce00;
		float: right;
		margin-right: 3%;
	}
	.jointop_in content{
		margin:0 4%;
		float: left;
		line-height: 25px;
	}
	.jointop_intwo{
		width: 100%;
		display: none;
		padding: 30px 0;
		background-image: url(../images/special.png);
		background-size: 160px;
		background-repeat: no-repeat;
		background-position: 5%;
		background-color: #fff;
		float: left;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

	}
	.jointop_intwo content{
		margin-left: 250px;
		float: left;
		line-height: 25px;
		padding-right: 20px;
	}

	.resume{
		width: 100%;
		padding-top: 10px;
		height: 550px;
		margin-top: 30px;
		float: left;
		background-color: #fff;
		border-radius: 5px;
		display: none;
	}
	.join_resume{
		width: 100%;
		height: 550px;
		float: left;
		border-radius: 2px;
	}
	.join_resume h2{
		margin-top: 30px;
		text-align: center;
		font-size: 18px;
	}
	.join_resume li{
		height: 80px;
		float: left;
		width: 80%;
		margin-left: 5%;
	}
	.join_resume font{
		width: 20%;
		float: left;
		text-align: right;
		height: 30px;
		line-height: 30px;
		margin-top:10px;
	}
	.join_resume input{
		width: 70%;
		margin-left: 5%;
		height: 35px;
		line-height: 35px;
		margin-top:10px;
		border-radius: 2px;
		border:#cbcbcb thin solid;
		padding-left: 2%;
		outline: none;
		float: left;
	}
	.join_resume textarea{
		width: 70%;
		margin-left: 5%;
		height: 90px;
		line-height: 30px;
		margin-top:10px;
		border-radius: 2px;
		border:#cbcbcb thin solid;
		padding-left: 2%;
		float: left;
		outline: none;
	}

	.join_resume button{
		height: 35px;
		line-height: 32px;
		width: 100px;
		margin-left: 25%;
		border-radius: 3px;
		font-size: 14px;
		background-color: #999;
		border:none;
		float: left;
		margin-top: 20px;
		color: #fff
	}
}
@media (max-width:500px){
	.head{
		width:100%;
		height:auto;
		float: left;
	}
	.main_top{
		display: none;
	}
	.main_top{
		display: none;
	}
	.hedtitle{
		width: 95%;
		background-color:#1F1F1F;
		font-size:16px;
		height: 60px;
		line-height: 60px;
		padding-right: 5%;
		color: #fff;
		text-align: center;
	}
	.hedtitle img{
		width: 20px;
		height: 20px;
		float: left;
		margin-top: 20px;
		padding-left: 5%;
	}
	.head ul{
		float: left;
		width: 30%;
		position: fixed;
		top: 60px;
		/*left: 20px;*/
		z-index: 888;
		background-color: #B3B3B3;
	}
	.head li{
		width: 90%;
		height: 40px;
		float: left;
		margin: 0 5%;
		line-height: 40px;
		text-align: center;
		color: #fff;
		/*border-bottom: thin solid #666;*/
	}
	.head a{
		color: #fff;
	}

	.headon{
		color:#F33;
	}	
	.head_in{
		width:100%;
		max-width:1000px;
		margin-left:auto;
		margin-right:auto;
		height:80px;
		background-color:#1F1F1F;
		line-height:80px;
		color:#999;
		}	
	.head_in li{
		height:80px;
		width:10%;
		float:left;
		font-size:16px;
		text-align:center;
		display:none;
		}				
	.head_in img{
		width:100%;
		height:60px;
		margin-top:10px;
		margin-bottom:10px;
		}
	.head_in span{
		width:100%;
		height:15px;
		line-height:15px;
		margin-top:15px;
		float:left;
		font-size:16px;
		}
	.head_in i{
		width: 20px;
		height: 20px;
		background-image: url(../images/phone.jpg);
		background-size: 20px 20px;
		background-position: 0px 0px;
		margin-right: 10px;
		float: left;
		}
	#myDiv{
		display: none;
		}
	.topest{
		display: none;
		}
	#nav{
		display: none;
	}
	#daohang{
		display: none;
	}
	/* LS Banner Begin*/
	.container{
		width: 100%;
		height: 150px;
		float: left;
		margin-bottom: 0px;
	}
	.container li{
		width: 100%;
		height: 150px;
		float: left;
	}
	.container img{
		width: 100%;
		height: 150px;
		float: left;
	}
	.container li.disimg{
		display: none;
	}
	.navigation{
		position:relative;
		top:-30px;
		height: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		display:inline-block;
		width: 100%;
		float: left;
		text-align: center;
	}
	.navigation ul{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #FF6666;
		width:60px;
	}
	.navigation li{
		width:10px;
		height:10px;
		line-height:10px;
		text-align:center;
		color: #E6E6E6;
		background-color: #FFFFFF;
		border-radius: 50%;
		float: left;
		margin-right: 10px;
	}
	.navigation li.active{
		background:#0080FF;
	}
	/* LS Banner End */
	.zhuanye{
		height:1200px;
		width:100%;
		background-color:#E9E9E9;
		background-size:100%;
		background-repeat:no-repeat;
		float:left;
		margin-top: -50px;
	}
	.zhuanye_in{
		width:100%;
		max-width:1000px;
		margin-left:auto;
		margin-right:auto;
		height:520px;
		color:#FFF;
		line-height:30px;
		box-sizing:border-box;
		font-size:16px;
		margin-top: 30px;
	}
	.brand a{
		float:left;
		height:350px;
		text-align: center;
		position: relative;
		width:90%;
		margin-left:5%;
		margin-right:5%;
		height:auto;
		box-sizing:border-box;
		margin-bottom:20px;
	}
	.zhuanye45,.zhuanye_two{
		display:none;
	}	
	.zhuanye_two{
		width:100%;
		margin-top:30px;
		text-align:center;
		height:30px;
		margin-bottom:40px;
		font-size:24px;
	}
	.zhuanye_in li{
		width:94%;
		margin-left:3%;
		margin-right:3%;
		height:auto;
		box-sizing:border-box;
		float:left;
		margin-bottom:20px;
		text-align: center;
	}
	.zhuanye_in img{
		height:100%;
	}
	/*tuanduius begin*/
	.tuandui{
		height:1370px;
		width:100%;
		background-image:url(/images/youshie.png);
		background-size:400% 1370px;
		background-repeat:no-repeat;
		float:left;
	}
	.tuandui_in{
		width:100%;
		margin-left:auto;
		margin-right:auto;
		height:400px;
		color:#FFF;
		line-height:30px;
		box-sizing:border-box;
		font-size:16px;
	}
	.tuandui_in li{
		width:94%;
		margin-left:3%;
		/*background-color:#333;*/
		margin-right:3%;
		height:400px;
		margin-bottom:25px;
		opacity:0.5;
		text-align: center;
	}
	.tuandui_in img{
		/*width:100%;*/
		height:400px;
	}		
	.tuandui_two{
		width:100%;
		margin-top:30px;
		text-align:center;
		height:30px;
		margin-bottom:20px;
		font-size:24px;
	}	
	/*tuanduius end*/

	/*hezuo begin*/
	.hezhuo{
		width:100%;
		height:880px;
		background-color:#CCC;
		float:left;
	}
	.hezhuo_in{
		width:100%;
		max-width:1000px;
		margin-left:auto;
		margin-right:auto;
		height:800px;
		background-color:#CCC;
	}
	.hezhuo_two{
		width:100%;
		margin-top:30px;
		text-align:center;
		height:30px;
		margin-bottom:20px;
		font-size:24px;
		float: left;
	}
	.hezhuo_in li{
		width:100%;
		box-sizing:border-box;
		padding-left:20px;
		padding-right:20px;
		float:left;
		height:90px;
		margin-bottom:30px;
	}	
	.hezhuo_in img{
		width:100%;
		height:90px;
	}	
	/*hezuo end*/
	/*foot begin*/
	.foot{
		width: 100%;
		height: 410px;
		background-color: #292929;
		float: left;
		font-size: 12px;
	}
	.foot_one{
		width:100%;
		height:350px;
		max-width:1000px;
		margin-left:auto;
		margin-right:auto;
	}
	.foot_two{
		width:100%;
		padding-bottom:20px;
		border-bottom:thin #666 solid;
		float:left;
		margin-bottom:20px;
		/*margin-top:20px;*/
	}	
	.foot_two ul{
		width:100%;
		float:left;
		box-sizing:border-box;
		padding-left:10px;
		padding-right:10px;
	}	
	.foot_thr{
		width:100%;
		margin-top:30px;
		text-align:center;
		color:#CCC;
		line-height:25px;
		font-size:12px;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
	}	
	.foot_four{
		text-align:center;
		font-size:14px;
		color:#CCC;
		line-height: 20px;
	}	
	.foot_four img{
		width:200px;
		height:200px;
		margin-left:auto;
		margin-right:auto;
	}
	.foot_two li{
		width:100%;
		height:40px;
		line-height:20px;
		margin-left:40px;
		color:#CCC;
		font-size:16px;
		float:left;
		background-size:40px;
		background-repeat:no-repeat;
		padding-left:55px;
	}
	.footdisplay{
		display:none;
	}
	#footdisplay{
		display:none;
	}
	/*foot end*/
	.shangwu_top{
		width: 100%;
		background-image: url(..../images/coop.jpg);
		background-size: auto 200px;
		background-position:50% 0;
		height: 200px;
		float: left;
		}
	.shangwu_top h3{
		text-align: center;
		color: #fff;
		float: left;
		margin-top: 70px;
		width: 100%;
		font-size: 26px;
	}
	.shangwu_top font{
		width: 80%;
		color: #fff;
		float: left;
		margin-left: 10%;
		text-align: center;
		font-size: 18px;
	}
	.shangwu_mid{
		width: 100%;
		height: auto;
		float: left;
		margin: 30px auto;
		padding:10px 0;
	}
	.shangwu_midin{
		width: 80%;
		max-width: 1080px;
		height: auto;
		margin: 30px auto;
	}
	.shangwu_midin p{
		text-indent: 2em;
		line-height: 30px;
		font-size: 16px;
		margin-bottom: 30px;
		text-align: left;
	}
	.shangwu_midin{
		margin: 30px auto 0;
		width: 70%;
		max-width: 1000px;
		line-height: 40px;
		text-align: center;
		font-size: 18px;
	}

	.shangwu{
		height:500px;
		width:100%;
		background-color:#E4E4E4;
		float:left;
	}
	.shangwu_in{
		width:100%;
		max-width:1080px;
		margin-left:auto;
		margin-right:auto;
		height:380px;
		color:#FFF;
		line-height:30px;
		box-sizing:border-box;
		font-size:16px;
		background-repeat:no-repeat;
		background-position: 0 40px;
	}
	.shangwu_in ul{
		width:50%;
		float:left;
		margin-left:auto;
		overflow: hidden;
		}
	.shangwu_in li{
		width:50%;
		box-sizing:border-box;
		float:left;
		color:#333;
		margin-left:70px;
		line-height:20px;
		margin-bottom:40px;
		overflow: hidden;
		padding-left: 60px;
	}		
	.shangwu_two{
		width: 100%;
		margin-top: 30px;
		text-align: center;
		height: 30px;
		margin-bottom:40px;
		font-size: 24px;
		color:#333;
	}
	.shangwu_in input{
		height: 33px;
		line-height: 33px;
		width: 80%;
		margin: 15px auto;
		margin-left: 9%;
		padding-left: 2%;
		border-radius: 3px;
		border:#cbcbcb thin solid;
	}
	.shangwu_in textarea{
		height: 66px;
		line-height: 20px;
		width: 80%;
		margin: 15px auto;
		margin-left: 9%;
		padding-left: 2%;
		border:#cbcbcb thin solid;
		border-radius: 5px;
	}
	.shangwu_in font{
		font-size: 14px;
		color: #000;
		margin-left: 9%;
		margin-top: 20px;
		float: left;
	}	
	.shangwu_in button{
		height: 35px;
		line-height: 32px;
		width: 100px;
		margin: 15px auto;
		margin-left: 9%;
		padding-left: 2%;
		border-radius: 3px;
		font-size: 14px;
		background-color: #999;
		color: #fff;
		border:none;
	}
	.shangwu_form{
		background-color: #fff;
		border-radius: 3px
	}
	.shangwu_form font{
		text-align: center;
		line-height: 20px;
	}
	.s1{
		background-image:url(/images/icon1.png);
		background-repeat: no-repeat;
		background-size: 40px 40px;
	}	
	.s2{
		background-image:url(/images/icon2.png);
		background-repeat: no-repeat;
		background-size: 40px 40px;
	}
	.s3{
		background-image:url(/images/icon3.png);
		background-repeat: no-repeat;
		background-size: 40px 40px;
	}
	.s4{
		background-image:url(/images/icon4.png);
		background-repeat: no-repeat;
		background-size: 40px 40px;
	}
	.s5{
		background-image:url(/images/icon5.png);
		background-repeat: no-repeat;
		background-size: 40px 40px;
	}

	.about{
		height:100px;
		width:100%;
		background-image:url(/images/f.jpg);
		float:left;
		}
	.about_mid{
		width: 90%;
		margin:0px 5% 25px;
		float: left;
	}
	.aboutmid_in h2{
		text-align: center;
		margin-bottom: 20px;
		margin-top: 30px;
	}
	.about_two{
		width:100%;
		margin-top:15px;
		text-align:center;
		height:30px;
		margin-bottom:20px;
		font-size:28px;
		line-height: 40px;
		color:#fff;
		}
	.about_two font{
		font-size: 22px;
	}
	.aboutmid_in p{
		text-indent: 2em;
	}
	.aboutmid_in{
		line-height: 30px;
	}

	/*å å¥æä»¬*/
	.join_banner{
		height:100px;
		width:100%;
		background-image:url(/picture/banner_join.png);
		background-position: 0 0;
		background-size: auto 100px;
		background-repeat: no-repeat;
		float:left;
		line-height: 40px;
		}
	.join_banner h1{
		width: 80%;
		margin:20px 10%;
		float: left;
		font-size: 20px;
		text-align: center;
		}
	.join_banner font{
		width: 60%;
		margin:30px 3% 40px 0;
		float: right;
		text-align: right;
		font-size: 18px;
		color: #fff;	}
	.join_left{
		display: none;
	}
	.join_top{
		float: left;
		width: 100%;
		height: auto;
	}
	.jointop_in{
		float: left;
		width: 90%;
		margin:15px 5%;
		font-size: 14px;
	}
	.jointop_in header{
		text-align: center;
		font-size: 20px;
		width: 100%;
		float: left;
		margin-top: 5px;
		margin-bottom: 30px;
	}
	.jointop_in h2{
		font-size: 18px;
		font-weight:200;
	}
	.jointop_in h3{
		font-size: 16px;
		font-weight:100;
	}
	.jointop_in content{
		line-height: 20px;
	}
	.jointop_intwo{
		float: left;
		width: 90%;
		margin:15px 5%;
		font-size: 14px;
	}
	.jointop_intwo header{
		text-align: center;
		font-size: 20px;
		width: 100%;
		float: left;
		margin-top: 5px;
		margin-bottom: 30px;
	}
	.jointop_intwo h2{
		font-size: 18px;
		font-weight:200;
	}
	.jointop_intwo h3{
		font-size: 16px;
		font-weight:100;
	}
	.jointop_intwo content{
		line-height: 20px;
	}

	.resume{
		width: 100%;
		padding: 10px 0;
		float: left;
		background-color: #e7e7e7;
	}
	.join_resume{
		width: 100%;
		float: left;
		background-color: #fff;
		border-radius: 2px;
	}
	.join_resume h2{
		margin-top: 15px;
		text-align: center;
		font-size: 18px;
		font-weight:200;
		line-height: 30px;
		width: 90%;
		float: left;
		margin-left: 5%;

	}
	.join_resume li{
		height: 50px;
		float: left;
		width: 94%;
		margin-left: 3%;
	}
	.join_resume font{
		display: none;
	}
	.join_resume input{
		width: 88%;
		margin-left: 5%;
		height: 30px;
		line-height: 30px;
		margin-top:10px;
		border-radius: 4px;
		border:#cbcbcb thin solid;
		padding-left: 2%;
		float: left;
	}
	.join_resume textarea{
		width: 88%;
		margin-left: 5%;
		height: 90px;
		line-height: 30px;
		margin-top:10px;
		border-radius: 4px;
		border:#cbcbcb thin solid;
		padding-left: 2%;
		float: left;
	}

	.join_resume button{
		height: 35px;
		line-height: 32px;
		width: 91%;
		border-radius: 3px;
		font-size: 14px;
		background-color: #999;
		border:none;
		float: left;
		color: #fff;
		margin-left: 5%;
	}
}
/*zhuanyeus end*/
